<div *ngIf="!online" class="alert alert-danger">
    Co-Simulation Engine offline.
    <ng-container *ngIf="coeSimulationService?.coeUrl; else urlNotDefined">
        No connection at {{ coeSimulationService.coeUrl }}.
    </ng-container>
    <app-react [component]="defaultButton" [props]="defaultButtonProps"></app-react>
</div>

<ng-template #urlNotDefined>
    <p>URL Connection is not defined.</p>
</ng-template>
<!--PL-TODO 
<div *ngIf="online && correctCoeVersion" class="alert alert-success">
	{{coeVersions[coeSimulationService.getMaestroVersion()]}}, version {{ coeSimulationService.coeVersionNumber }},
	online at {{ coeSimulationService.coeUrl }}.
</div>
<div *ngIf="online && !correctCoeVersion" class="alert alert-warning">
	{{coeVersions[required_coe_version]}} is required!!
	{{coeVersions[coeSimulationService.getMaestroVersion()]}}, version {{ coeSimulationService.coeVersionNumber }}, is
	online at {{ coeSimulationService.coeUrl }}.
</div>
-->
